/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
/* common shared  */
.container{
    width: 1320px;
    height: 600px;
}

/* font section */

.font1 {
  font-family: "Merriweather", serif;
}

.font2 {
  font-family: "Inter", sans-serif;
}

/* footer section start  */

.footer {
  width: 1600px;
  height: 609px;
  background: #070211;
  padding: 120px 140px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  margin: auto;
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
}

.footer .footer-container {
  margin: 120px 0 50px 0;
}
.footer .footer-container .footer-text {
  width: 375px;
  height: 80px;
}
.footer hr {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}
.footer .footer-img {
  text-align: center;
}
.footer .footer-end {
  display: flex;
  justify-content: space-between;
}
