/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */


/* common shared style  */

/* font section */

.font1 {
    font-family: "Merriweather", serif;
  }
  
  .font2 {
    font-family: "Inter", sans-serif;
  }


.container{

    max-width: 1320px;
    height: 600px;
}

/* Header Section Styles  */


.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00)100%), url(../images/Banner-Image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    width: 82%;
    margin: 50px auto;
    border-radius: 16px;
}
.banner>h5 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    padding-top: 177px;
    margin-bottom: 0;
}
.banner>h1 {
    color: #FFF;
    width: 632px;
    margin: 16px auto;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}



/* footer section styles start  */

.footer {
  width: 100%;
  height: 609px;
  background: #070211;
  padding: 120px 140px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  margin: auto;
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
}

.footer .footer-container {
  margin: 120px 0 50px 0;
}
.footer .footer-container .footer-text {
  width: 375px;
  height: 80px;
}
.footer hr {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}
.footer .footer-img {
  text-align: center;
}
.footer .footer-end {
  display: flex;
  justify-content: space-between;
}
